
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId})}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="surname">Фамилия: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="age">Город: </label>
    <input type="text" th:field="*{city}" id="city">
    <br>
    <input type="submit" value="Изменить"/>
</form>
</body>
</html>